<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>{{ title }}</title>
    <style>
      .image-set{
        border: 1px solid gray;
      }

      .caption{
        display: block;
        clear: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>{{ title }}</h1>
      {% for image_tuple in image_tuples %}
        <div class="image-set">
          {% for image in image_tuple %}
            <div>
              <h2 class="caption">{{ image }}</h2>
              <img class="img-responsive" src="{{ image }}" />
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </body>
</html>
